# Terraform state files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# Local .env files
.env
.env.*

# Inframap diagram outputs
inframap-diagram.*
*.svg
*.png

# Editor and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Backup files
*~